// -----------------------------------------------------------------------------
// This file contains styles that are specific to the navbar.
// -----------------------------------------------------------------------------

.navbar {
    background-color: $layout-primary-color;
    width: 100%;
    height: 80px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 10px;
    }
    &__logo {
        align-items: center;
        margin: auto 2rem;
    }
    &__menu {
        align-items: center;
        justify-content: center;
        & > ul {
            list-style: none;
            display: flex;
            text-align: right;
            & > li {
                margin: 0 1rem;
                &.active {
                    & > a {
                        color: $primary-color;
                        position: relative;

                        &::after {
                            opacity: 1;
                            content: 'â—';
                            position: absolute;
                            width: 5px;
                            height: 5px;
                            right: 50%;
                            top: 17px;
                        }
                       
                    }
                }
                & > a {
                    text-decoration: none;
                    transition: all 0.3s;
                    padding: 7px 10px;
                    border-radius: 46px;
                    border: 2px solid transparent;
                    &:hover {
                        border: 2px solid $primary-color;
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
